 .navbar {
     height: 50px;
     border-bottom: 0.5px solid rgb(16, 9, 9);
     display: flex;
     align-items: center;
     font-size: 14px;
     background-color: navy; }

 .wrapper {
     width: 100%;
     padding: 20px;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .searchh {
     display: flex;
     /* align-items: center; */
     border: 1px solid navy;
     padding: 10px;
     background: white;
     color: var(--color-primary);
     font-size: larger;
     border-radius: 0.4rem;
 }



 .items {
     display: flex;
     align-items: center;
 }

 .item {
     display: flex;
     align-items: center;
     margin-right: 20px;
     position: relative;
 }
 .item p {
    color: white;
 }
 .icon {
     font-size: 20px;
 }

 .avatar {
     width: 30px;
     height: 30px;
     border-radius: 50%;
     margin-left: 10px;
 }

 .counter {
     width: 15px;
     height: 15px;
     background-color: red;
     border-radius: 50%;
     color: white;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 10px;
     font-weight: bold;
     position: absolute;
     top: -5px;
     right: -5px;
 }

 .adlogo {
     width: 65px;
     height: 45px;
     margin-left: 50px;
 }