
  
  .garticle {
    width: 60%;
    margin: auto;
    margin-top: 10%;
    position: absolute;
    margin-left: 10%;
  }
  
  .cart_box img {
    width: 100px;
    height: 100px;
  }
  .cart_img {
    display: flex;
    width: 400px;
  }
  
  .cart_img p {
    color :black;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .cart_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 2px solid black ;
    padding-bottom: 5px;
  }
  
  .cart_box div:nth-child(2) button {
    color:black;
    padding: 5px 10px;
    font-weight: bold;
    margin-right: 5px;
  }
  
  .cart_box div:nth-child(3) button {
    padding: 5px 10px;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    outline: none;
    color: var(--color-secondary);
    background-color: lightgreen;
    border-radius: 5px;
    cursor: pointer;
  }
  .cart_box div:nth-child(3) button:hover {
    background-color: var(--color-gray-600);
  }
  .cart_box div:nth-child(3) span {
    background-color: brown;
    color: var(--color-gray-100);
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .total {
    display: flex;
    justify-content: space-between;
  }
  
  .total span:nth-child(1) {
    font-size: 1.8rem;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .total span:nth-child(2) {
    font-size: 1.8rem;
    color: black;
    font-weight: bold;
  }

  .btton{
    background-color: rgb(46, 117, 240);
    color: var(--color-gray-100);
    padding: 5px 10px;
    border-radius: 5px;
    margin-left:50%;
  }
  